  #div4{
     width:80%;
   margin: auto;
   height: 400px;
   background-color: yellow;
   background-image: url("punguine.jpg");
  // background-position: center center;
    background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: 50% 50%;
   }
   #div3{
   width:80%;
   margin: auto;
   height: 300px;
   background-color: yellow;
   border : solid 10px; red;
   box-shadow: 10px 15px 6px blue;
   
   }
   #div2{
   width: 70%;
   height: 400px;
   margin: auto;
   background-color: yellow;
   background-image: url("instagram.gif");
   background-repeat: no-repeat;
   border: dotted blue 15px;
   padding: 15px;
   background-origin: content-box;
    //background-origin: border-box;
      // background-origin: padding-box;
   
   
   }
   #div1 {
   width: 80%;
   margin: auto;
   height: 400px;
   background-color : orange;
   background-image: url("instagram.gif");
   background-repeat: repeat-y;
   //background-position: top center;
   background-position: 80px 80px;
   opacity: 0.6;
   
   }
   body{
   background-color: pink;
  background-image: url("ggc.jpeg");
   background-repeat: repeat-x;  // no-repeat;
   background-attachment: fixed;
    //background-attachment: scroll;
    background-size: 50% 50%;
   }
     #p1{
   background-color: pink;
   background-image: url("punguine.jpg");
   bacground-size: 70% 70%;
   }